body {
  position: relative;
  min-height: 100vh;
  background-color: #FFFFFF;
}

h1, h2 {
  font-weight: 700;
}

header {
  padding: 1.5rem 2rem;
}

footer {
  padding: 1.5rem 3rem;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  background-color: #e0d6ff;
}

header h1 {
  font-size: 1.75rem;
}

/* Slider */
.slider {
  width: 300px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  border: 2px solid black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border-radius: 8px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > li {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}