body {
  position: relative;
  min-height: 100vh;
  background-color: #FFFFFF;
}

h1, h2, h3, h4 {
  font-weight: 700;
  color: #4C3B80;
}

header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #e0d6ff;
}

header h1 {
  width: 50%;
  font-size: 1.75rem;
}

footer {
  padding: 1.5rem 3rem;
}

.hide {
  display: none !important;
}

@media (min-width: 767px) {
  header h1 {
    width: 25%;
  }
}

@media (min-width: 922px) {
  header h1 {
    width: 20%;
  }
}
