body {
  position: relative;
  min-height: 100vh;
  background-color: #e0d6ff;
}

h1, h2 {
  font-weight: 700;
}

header, main {
  padding: 3rem;
}

footer {
  padding: 1.5rem 3rem;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}
