.divHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem;
}

.divHero > div:first-child {
  order: 2;
  text-align: center;
}

.divHero h1 {
  width: 100%;
  font-size: 2.5rem;
  margin: 0 auto 1rem auto;
}

.divHero > div:first-child > div {
  width: 65%;
  margin: 0 auto;
}

.heroImageContainer {
  order: 1;
  width: 100%;
  margin-bottom: 2rem;
}

.heroGIF {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 8px;
}

.listStruggles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
}

.listStruggles > li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.listStruggles > li > h3 {
  font-size: 1.15rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.divImageContainer {
  width: 100%;
}

.imageStruggles {
  display: block;
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.divStruggles {
  padding: 1.5rem 2rem;
  background-color: #e0d6ff;
}

.divStruggles > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.divStruggles h2, .divHousing h2, .divFashion h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.divStruggles span {
  display: block;
  margin-bottom: 1rem;
}

.divStruggles a {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.divStruggles a, .divHousing a, .linkFashion {
  padding: .5rem 1rem;
  color: #4C3B80;
  border: 2px solid #4C3B80;
  background-color: transparent;
}

.divStruggles a:hover, .divHousing a:hover, .linkFashion:hover {
  background-color: #4C3B80;
  color: #FFFFFF;
}

.divHousing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.divHousing > div {
  order: 2;
  text-align: center;
}

.divHousing > div > span, .divFashion > div > span {
  display: block;
}

.divHousing > div > span:first-of-type, .divFashion > div > span:first-of-type {
  margin-bottom: 1rem;
}

.divHousing > div > span:last-of-type {
  margin: 0 0 0 auto;
}

.divHousing a {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.listHousingImages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  order: 1;
}

.imageHousing {
  width: 250px;
  height: auto;
  border: 2px solid #e0d6ff;
}

.imageFashion {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.divFashion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0d6ff;
  padding: 2rem;
}

.divFashion > div:first-of-type {
  order: 2;
  text-align: center;
}

/* Slider */
.slider {
  width: 300px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto 1rem auto;
  order: 1;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 1rem;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: #4C3B80;
  border-radius: 8px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > li {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider > a {
  display: inline-flex;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 .5rem 0.5rem 0.5rem;
  position: relative;
}
.slider > a:active {
  top: 1px;
  color: #4C3B80;
  border-color: #4C3B80;
}

.divFashion > div:first-of-type > a {
  display: block;
  width: fit-content;
  padding: .5rem 1.5rem;
  border: 2px solid black;
  margin: 0 auto;
}


.spanUpdate {
  width: fit-content;
  border: 2px solid #4C3B80;
  color: #4C3B80;
  padding: .5rem 1.5rem;
}

@media (min-width: 575px) {
  .divHero > div {
    width: 75%;
  }

  .divHero h1 {
    width: 100%;
    margin: initial initial 1rem initial;
  }

  .divStruggles > div > div:last-of-type {
    width: 25%;
  }

  .divStruggles span {
    width: 60%;
    margin: 0 auto 1rem auto;
  }

  .divHousing > div {
    width: 60%;
    order: 2;
    margin: 0 auto;
  }

  .listHousingImages {
    width: 100%;
    flex-direction: row;
    margin-bottom: 1rem;
  }

  .divFashion {
    flex-direction: row;
  }

  .divFashion > div:first-of-type {
    width: 40%;
    order: 1;
    text-align: initial;
  }

  .slider {
    order: 2;
    margin-bottom: 1rem;
  }

  .divFashion > div > span:first-of-type {
    width: 75%;
  }
  
  .divFashion > div:first-of-type > a {
    margin: initial;
  }
}

@media (min-width:641px)  { 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
  .divHousing {
    flex-direction: row;
  }

  .listHousingImages, .divHousing > div {
    width: 50%;
  }

  .listHousingImages {
    flex-direction: column;
    margin-bottom: 0;
  }

  .divHousing > div {
    text-align: right;
  }

  .divHousing a {
    margin: 0 0 0 auto;
  }
}

@media (min-width: 767px) {
  .listStruggles {
    flex-direction: row;
    margin-bottom: 1.5rem;
  }

  .listStruggles > li {
    margin-bottom: 0;
  }
}

@media (min-width: 922px) {
  .divHero {
    flex-direction: row;
  }

  .divHero > div:first-child {
    order: 1;
    text-align: initial;
  }

  .divHero > div:first-child > div {
    margin: 0;
  }

  .divHero > div:last-child {
    order: 2;
    margin-bottom: 0;
  }

  .divStruggles > div {
    flex-direction: row;
    text-align: initial;
  }

  .divStruggles > div > div {
    width: 50%;
  }

  .divStruggles > div span {
    width: 100%;
  }

  .divStruggles > div span:last-of-type {
    margin-bottom: 0;
  }

  .divStruggles > div > div:last-of-type {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .divHero, .divStruggles, .divHousing, .divFashion {
    padding: 4rem;
  }

  .divHousing > div {
    width: 40%;
    margin: 0;
  }

  .divHousing > div > h2 {
    width: 85%;
    margin: 0 0 1rem auto;
  }

  .listHousingImages {
    flex-direction: row;
  }
}