.navList {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background-color: #e0d6ff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  color: #524675;
}

.navListItem {
  margin-right: .5rem;
}

.navListLink {
  font-weight: 700;
}

.navListLink:hover {
  color: #ffffff;
}

.emoteRevealLeft {
  display: none;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.emoteRevealRight {
  display: none;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
} 

.navBtn {
  padding: .5rem;
  background-color: #ffffff;
}

@media (min-width: 576px) {
  .nav {
    position: relative;
  }

  .navList {
    position: initial;
    top: initial;
    left: initial;
    width: fit-content;
    background-color: transparent;
  }

  .navBtn {
    display: none !important;
  }
  
  .emoteRevealLeft, .emoteRevealRight {
    display: inline-block;
  }
}