.nav {
  position: relative;
}

.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
}

.navListItem {
  margin-right: .5rem;
}

.navListLink {
  font-weight: 700;
}

.navListLink:hover {
  color: #ffffff;
}

.emoteRevealLeft {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.emoteRevealRight {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
} 