.trademark {
  width: fit-content;
  padding: 1rem;
  border: 2px solid black;
  font-weight: 500;
  margin-bottom: 1rem;
}

.divMain {
  width: 100%;
  padding: 2rem;
}

.book {
  display: block;
  width: 100%;
  height: 100px;
  position: relative;
}

.jobIcon {
  order: 1;
  width: 48px;
  height: 48px;
}

.listClassIcon {
  display: flex;
  flex-wrap: row;
  width: 150px;
}

.imageClassIcon {
  display: block;
  position: absolute;
  width: 45px;
  height: auto;
  top: 1rem;
  right: 1rem;
}

.listJobs {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 4rem;
}

.listJobs h2 {
  font-size: 1.15rem;
  margin-bottom: .75rem;
}

.cover {
  width: 100%;
  height: 100%;
  background-color: #e0d6ff;
  opacity: 1.0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.cover > h3 {
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.cover > span, .content > span {
  position: absolute;
  width: auto;
  bottom: 0;
  right: 0;
  padding: .5rem;
  border-top-left-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  background-color: #ffffff;
}

.book:nth-child(4n) .cover > img {
  right: 1rem;
}

.content {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e0d6ff;
}

.book:not(:nth-of-type(2n)) .content > .contentImageSoppo, .book:not(:nth-of-type(2n)) .content > .imageHeadshot {
  left: 0;
  border-bottom-right-radius: 8px;
}

.book:nth-of-type(2n) .content > .contentImageSoppo, .book:nth-child(2n) .content > .imageHeadshot {
  right: 0;
  border-bottom-left-radius: 8px;
}

.book:nth-of-type(2n) .cover > h3 {
  left: auto;
  right: 1rem;
}

.book:nth-of-type(2n) .cover > img {
  left: 1rem;
}

.book:nth-of-type(2n) .content > span, .book:nth-child(2n) .cover > span {
  right: auto;
  left: 0;
  border-top-left-radius: initial;
  border-top-right-radius: 8px;
}


.listFourSquares {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 100px);
  gap: .5rem;
}

.listSixSquares {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: .5rem;
}

@media (min-width: 575px) {
  .listFourSquares {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 250px);
  }

  .book {
    height: 250px;
  }

  .imageHeadshot {
    height: 60%;
  }

  .cover > span {
    padding: 1rem;
  }
}

@media (min-width: 767px) {
  .listFourSquares {
    grid-template-columns: repeat(3, 1fr);
  }

  .listSixSquares {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .book {
    height: 250px;
  }

  .contentImageSoppo {
    display: block;
    position: absolute;
    top: 0;
    width: auto;
    height: 65%;
  }

  .cover > span {
    padding: .5rem
  }

  .book:nth-of-type(2n) .cover > h3 {
    right: initial;
    left: 1rem;
  }

  .book:nth-of-type(2n) .cover > img {
    right: 1rem;
    left: initial;
  }

  .book:nth-of-type(2n) .cover > span {
    right: 0;
    left: initial;
    border-top-right-radius: 0;
    border-top-left-radius: 8px;
  }
}

@media (min-width: 922px) {
   .listFourSquares {
    grid-template-columns: repeat(4, 1fr);
   }

   .cover > span {
    display: none !important;
   }

   .imageClassIcon {
    width: 75px;    
    top: initial;
    bottom: 1rem;
  }

   .cover:hover {
    opacity: 0;
    transition: opacity .55s ease-in-out;
  }
  
  .cover:hover ~ .content {
    opacity: 1;
    transition: opacity .55s ease-in;
  }
}

@media (min-width: 1200px) {
  .listFourSquares {
    grid-template-columns: repeat(6, 1fr);
  }
}

