.trademark {
  width: fit-content;
  padding: 1rem;
  border: 2px solid black;
  font-weight: 500;
  margin-bottom: 1rem;
}

.jobActionsContainer {
  margin-bottom: 3rem;
}

.jobActionsContainer > h2 {
  font-size: 1.5rem;
}

.jobActionCombo {
  display: flex;
}

.listJobAction > li {
  margin-right: 2rem;
  position: relative;
}

.listJobAction > li::after {
  content: '->';
  width: 16px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 3.5rem;
  transform: translateY(-50%);
}

.listJobAction > li:last-of-type:after {
  display: none;
}

.videoContainer {
  width: 30%;
}

.videoContainer > iframe {
  display: block;
  margin: 0 auto;
}

.jobIcon {
  order: 1;
  width: 48px;
  height: 48px;
}

.listClassIcon {
  display: flex;
  flex-wrap: row;
  width: 150px;
}

.imageClassIcon {
  display: block;
  width: 75px;
  height: auto;
}

.listJobs {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 4rem;
}

.listJobs h2 {
  font-size: 1.15rem;
  margin-bottom: .75rem;
}

/* Cover */
.book {
  display: block;
  width: 100%;
  height: 250px;
  position: relative;
}

.cover {
  width: 100%;
  height: 100%;
  background-color: #e0d6ff;
  opacity: 1.0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.cover > h3 {
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.cover:hover {
  opacity: 0;
  transition: opacity .55s ease-in-out;
}

.cover:hover ~ .content {
  opacity: 1;
  transition: opacity .55s ease-in;
}

.imageClassIcon {
  display: block;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.book:nth-child(4n) .cover > img {
  right: 1rem;
}

.content {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e0d6ff;
}

.content > span {
  position: absolute;
  width: auto;
  bottom: 0;
  right: 0;
  padding: 1rem;
  border-top-left-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: underline;
  background-color: #ffffff;
}

.imageHeadshot {
  display: block;
  position: absolute;
  top: 0;
  width: auto;
  height: 80%;
}

.book:not(:nth-of-type(2n)) .content > .contentImageSoppo, .book:not(:nth-of-type(2n)) .content > .imageHeadshot {
  left: 0;
  border-bottom-right-radius: 8px;
}

.book:nth-of-type(2n) .content > .contentImageSoppo, .book:nth-child(2n) .content > .imageHeadshot {
  right: 0;
  border-bottom-left-radius: 8px;
}

.book:nth-of-type(2n) .cover > h3 {
  left: auto;
  right: 1rem;
}

.book:nth-of-type(2n) .cover > img {
  left: 1rem;
}

.book:nth-of-type(2n) .content > span {
  right: auto;
  left: 0;
  border-top-left-radius: initial;
  border-top-right-radius: 8px;
}

.divMain {
  width: 100%;
  padding: 2rem;
}

.listFourSquares {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 100px);
  gap: .5rem;
}

.listSixSquares {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: .5rem;
}

.book {
  display: block;
  width: 100%;
  height: 100px;
  position: relative;
}

/* tankPage */
.divMainContainer {
  padding: 1rem 1rem 0 1rem;
}

.divComboWithVideo, .divComboNoVideo {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1.5rem;
}

.divComboWithVideo > h2, .divComboNoVideo > h2 {
  margin-bottom: 1rem;
  order: 1;
}

.divComboWithVideo {
  background-color: lavender;
  border: 4px solid #e0d6ff;
  border-radius: 4px;
  padding: .5rem;
}

.videoContainer {
  width: 100%;
  margin-bottom: 2rem;
  order: 2;
}

.divInfo {
  display: flex;
  flex-direction: column;
  order: 3;
}

.divInfo > h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.listJobAction {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.listJobAction > li:last-child {
  margin-right: 0;
}

.divComboNoVideo {
  position: relative;
}

.divComboNoVideo::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #e0d6ff;
  position: absolute;
  bottom: -.75rem;
  left: 0;
}

.divComboNoVideo > ul {
  order: 2;
}

.divComboNoVideo > div {
  order: 3;
}

.divComboNoVideo > div > div {
  margin-bottom: .5rem;
}

@media (min-width: 575px) {
  .listFourSquares {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 250px);
  }

  .book {
    height: 250px;
  }

  .imageHeadshot {
    height: 60%;
  }
}

@media (min-width: 767px) {
  .listFourSquares {
    grid-template-columns: repeat(4, 1fr);
  }

  .listSixSquares {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .book {
    height: 250px;
  }

  .contentImageSoppo {
    display: block;
    position: absolute;
    top: 0;
    width: auto;
    height: 65%;
  }

  .imageHeadshot {
    display: none;
  }
}

@media (min-width: 922px) {
   .listFourSquares {
    grid-template-columns: repeat(5, 1fr);
   }

   /* /jobs/pld */
   .divComboWithVideo {
    flex-direction: row;
    text-align: start;
    flex-wrap: wrap;
    padding: 2rem;
   }

   .divComboWithVideo > .divInfo {
    order: 1;
    width: 50%;
   }

   .videoContainer {
    width: 50%;
    margin-bottom: 0;
    order: 2;
   }

   .listJobAction {
    width: 100%;
    order: 3;
    align-items: start;
    padding: 0;
    margin: 1rem auto 0 auto;
   }

   .divComboNoVideo {
    width: 85%;
    margin: 0 auto 1.5rem auto;
  }
}

@media (min-width: 1020px) {
  .divMainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  .divComboNoVideo {
    width: 47%;
    flex-direction: column;
  }

  .divComboNoVideo::after {
    display: none;
  }

  .divMainContainer:nth-child(1):after {
    content: '';
    width: 4px;
    height: 40%;
    background-color: #e0d6ff;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-radius: 500px;
  }

  .divComboNoVideo > .listJobAction {
    justify-content: center;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1200px) {
  .listFourSquares {
    grid-template-columns: repeat(6, 1fr);
  }

  .divMainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  .divComboWithVideo, .divComboNoVideo {
    flex-direction: row;
    align-items: center;
  }

  .divComboWithVideo {
    width: 100%;
    text-align: start;
  }

  .divInfo {
    order: 1;
  }

  .videoContainer {
    order: 2;
  }

  .divComboNoVideo {
    width: 47%;
    flex-direction: column;
  }

  .divMainContainer:nth-child(1):after {
    content: '';
    width: 4px;
    height: 40%;
    background-color: #e0d6ff;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-radius: 500px;
  }

  .divComboNoVideo > .listJobAction {
    justify-content: center;
    margin-bottom: 1rem;
  }
}

