.trademark {
  width: fit-content;
  padding: 1rem;
  border: 2px solid black;
  font-weight: 500;
  margin-bottom: 1rem;
}

.jobActionsContainer {
  margin-bottom: 3rem;
}

.jobActionsContainer > h2 {
  font-size: 1.5rem;
}

.jobActionCombo {
  display: flex;
}

.listJobAction {
  width: 70%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.listJobAction > li {
  margin-right: 2rem;
  position: relative;
}

.listJobAction > li::after {
  content: '->';
  width: 16px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 3.5rem;
  transform: translateY(-50%);
}

.listJobAction > li:last-of-type:after {
  display: none;
}

.videoContainer {
  width: 30%;
}

.videoContainer > iframe {
  display: block;
  margin: 0 auto;
}

.jobIcon {
  order: 1;
  width: 48px;
  height: 48px;
}

.tankDefensiveActions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tankDefensiveActions > h2, .tankDefensiveActions > div:first-of-type {
  flex: 1 100%;
}

.tankDefensivePacks {
  width: 45%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  border: 2px solid black;
}

.tankDefensivePacks > h4 {
  order: 1;
  flex: 1 100%;
  margin-bottom: 1rem;
}

.listTankDefensive {
  order: 2;
  display: flex;
}

.listTankDefensive > li {
  margin: 0 1rem 1rem 0;
}

.listTankDefensive > li:last-of-type {
  margin-right: 0;
}

.tankDefensivePacks > div {
  order: 3;
  flex: 1 100%;
}

.listClassIcon {
  display: flex;
  flex-wrap: row;
  width: 150px;
}

.imageClassIcon {
  display: block;
  width: 75px;
  height: auto;
}

.curtain {
  width: 250px;
  height: max-content;
  overflow: hidden;
  position: relative;
}

.curtainWrapper {
  width: 100%;
  height: 100%;
}

.curtainInput {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  top: 0;
  left: 0;
}

.curtainInput:checked ~ .curtainPanelLeft, .curtainInput:checked ~ .curtainPanelRight {
  transform: translateX(-100%);
}

.curtainInput:checked ~ .curtainPanelRight {
  transform: translateX(100%);
}

.curtainInput:checked ~ .curtainContent {
  z-index: 1000;
}

.curtainPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: orange;
  color: #fff;
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  transition: all 1s ease-out;
  z-index: 2;
}

.curtainPanelLeft {
  justify-content: flex-end;
  transform: translateX(0%);
}

.curtainPanelRight {
  justify-content: flex-start;
  transform: translateX(0%);
}

.curtainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  z-index: 1;
}

